.blog-page{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 1rem;
  
}

.blog-container{
    width: 70%;
    margin-right: 25px;
   
}
.latestblog-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.bloglist-item .blog-card{
    background-color:#ffffff;
    border-radius: 5px;
    border: none;
    margin: 0 0 25px;
    padding: 20px;
}
.bloglist-item .blog-card  .blog-title{
    font-size: 28px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1;
    color: var(--header-text-color);
    transition: all 0.1s ease;
}

.bloglist-item .blog-card  .blog-title:hover{
cursor: pointer;
color: var(--header-hover-color);
text-decoration: none;
}


.bloglist-item .blog-card .blog-credit{
    font-size: 13px;
    color: #595959;
    margin: 13px 0 0;
}

.bloglist-item .blog-card .blog-credit span{
text-transform: capitalize;
color: var(--header-hover-color);
font-weight: 500;
font-style: normal;
}

.bloglist-item .blog-card .blog-body{
    display: flex;
    margin: 13px 0 0;
    
}

.blog-card img{
    width: 210px;
    border: none;
    border-radius: 5px;
    margin:  0 20px 0 0;
}

.bloglist-item .blog-card .blog-body p{
    font-size: 15px;
    color: #111111;
    line-height: 1.6;
}

.bloglist-item .read-more{
    font-size: 14px;
    font-weight: 600;
    display: block;
    width: 100%;
    text-align: right;
    cursor: pointer;
   color : var(--header-hover-color);
}

.bloglist-item .read-more:hover{
    text-decoration: none;
}
/* sidebar starts here */
.left-sidebar{
    width: 30%;  
}

.left-sidebar table{
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #ffffff;
    border-radius: 5px;
    border: none;
}

.left-sidebar table h3{
    margin-top: 0;
    font-size: 18px;
    color: #111111;
    font-weight:700;
}

.left-sidebar .table-4 ul{
margin: 0;
padding: 0;
list-style-type: none;
display: flex;
flex-wrap: wrap;
}

.left-sidebar .table-4 ul li a{
   border: 1px solid var(--btn-color);
   height: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
    margin: 0px 5px 5px 0;
    font-size: 14px;
    width: fit-content;
   padding: 0 14px;
   color: var(--btn-color);
    border-radius: 4px;
}

.left-sidebar .table-4 ul li a:hover{
   background-color: var(--header-hover-color);
   color: var(--light-color);
   text-decoration: none;
}