footer {
  padding: 24px 0;
  background-color: var(--header-text-color);
  color: var(--light-color);
  font-size: var(--body-font-size-s);
}

footer .footer {
width: 80%;
  margin: auto;
}

footer .footer p {
  margin: 0;
}
