.blog-details{
    min-height: 80vh;
    background-color: #fff;
    padding: 2rem;
    border-radius: var(--border-radius);
}

.blog-details .blog-article h1{
    font-size: 35px;
    color: var(--text-color);
}

.blog-details .blog-article .credit{
    font-size: 14px;
}

.blog-details .blog-article .credit span{
    color: var(--btn-color);
}

.blog-details .blog-article .banner-image{
    border: none;
    padding: 1rem 0;
}



.blog-details .blog-article .blog-text {
    padding: 1rem;
    color: var(--text-color);
}

